*{
margin: 3px;
margin-bottom: 0px;
margin-top: 0px;
align-items: center;



}

#destaque{

    display: flex;
    justify-content: space-between;

    
}

#destaque h1{

    padding: 0px;
    margin: 0px;
    

}

#destaque img{
    width: 130px;
    padding: 0px;
    margin: 0px;
    

}

#botoes{
  margin:0px;
  padding: 0px;

    display: flex;
    justify-content: space-between;

}
#alertax p{

  align-items:center;

}

#foto{
    position: relative;
margin: 0 auto;
width: 250px;
}



#foto img{
    margin: 0px;
    padding: 0px;
    width: fit-content;
}

header h1 a{

    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 150px;
    color: linear-gradient(white,blue);
}



header{
height: 100px;
padding: 10px;
  display: flex;  
align-items: center;
  justify-content: space-between;
  background-image: url(mesh-1430107.png);
  color: whitesmoke;
  border-radius: 5px;
  border-bottom:10px;

}

header h1{
 
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 100px;
    font-weight: lighter;
    justify-content: left;
}


header svg{
    color: #05192e;
    justify-content:initial;
    cursor: pointer;
    background: none;
    border: none;
    padding:0px;
    margin: 3px;
}
header svg :hover{

    color: whitesmoke;
}

header span p{
    display: block;
    padding-top: 0px    ;
}
header span img{
    display: inline-block;
    padding-top: 0;
}

header div p{

    width: 300px;
    
    border-radius: 5px;
    color: #305675;
    align-items: center;
   
}

header span {

    display: inline;
}

.alertas p{

    display: none;
}

#teste1 div:hover{

    display: block

}

.opcoes{
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    background-image:linear-gradient(#458bc4, #1b3d58) ;
    border-radius: 5px;
    border-bottom: solid rgb(51, 51, 65);
   border-top: 0px;
   
}



#menu li{
  
    margin-top: 0px; 
    list-style: none;
    display: inline-block;
    font-size: 25px;
    margin:0px;
    
    

    
    

}

#menu li a{
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: white;
    margin:0px;
}
#menu li  a:hover{
    background-color:#1c4c74 ;
    transition: background .4s;

    
}

.opcoes input, .opcoes button{
    
    background-color: none ;
    border:none;

    

}

.opcoes input{

    margin-right: 0px;
    padding:10px;
    border-radius: 5px;
}

.opcoes button{
    cursor: pointer;
    align-content: center;
    background-color: none;
        border-radius: 5px;
    margin-left: 0px;
    padding-bottom:10px ;
    padding-top: 6px;
    background-color: skyblue;
    color: rgb(32, 60, 114);
    

}

.opcoes button:hover{
background-color: white;


}


body{
   margin: auto;
   padding-top: 0px;
    font-family: 'Open Sans', sans-serif;
  color: #196fa1;  
    
    background-image:linear-gradient(rgb(212, 236, 255),rgb(185, 223, 240));
}
#tarefas  {

   color: #196fa1;
   display: inline-block;
   margin: 0 auto;
    width: 95%;
    height: 500px;
    padding: 20px;
    background: rgb(159, 208, 231);
    overflow: hidden;
    overflow-y: scroll;
    border-style:solid;
    border-color: whitesmoke;
    border-radius: 5px;
    margin-bottom: 10px;
    vertical-align: top;
    padding-top: 0px;
    


}
.ok  {

    font-size: 25px;
 
}



.element button{
    float: right;
    cursor: pointer;
    font-weight: bold;
    border:none;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(73, 137, 197);
    color:rgb(255, 255, 255);

    
    margin: 0px;
    font-size:15px;
    padding:10px,10px,10px,12px ;
}
.element button:hover{
    font-weight: bold;
    border:none;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(65, 92, 124);
   
    color:rgb(255, 255, 255);
}
       

.lista{
    display: flex;
    justify-content: right;
}


#tarefas > article{
    font-size: auto;
    display:flex;
    width: 100%;
    margin: 0 auto;
    height: 30%;
    margin-top: 35px;
    background-color: whitesmoke;
    border-radius: 5px;
    
}

.progress {
    
    display: flex;
    justify-content: space-between;
width: 90%;
margin: 0 auto;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(84, 102, 141);
 
}



#pgr{

    text-align: center;
}

footer{
    width: 100%;
    height: 150px;
    margin: auto 0;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
    background-color: #619cbe;
    color: whitesmoke;

}

#barra{
  
    margin: 0 auto;
    padding: 0px;
    padding-bottom: 10px;
}

#barra select{
    width:100%;
padding: 9px;
border:rgb(28, 142, 218) solid 1px;
border-radius:5px;
font-size:15px;
color: rgb(51, 51, 65);
font-weight: bolder;
float: right;
margin-top: 12px;



}

#barra option
{
   
    border:none;
    border-radius:5px;
    font-size:15px;
    color: rgb(51, 51, 65);
    text-align: center;
    
}
table{

   justify-content: center;


}
 

  

#teste {

    height: 100%;

   
    display: inline-block;
    margin: 10px;
    margin-top: 0px;
    background-color: rgba(231, 245, 253, 0.452);
    padding: 20px;
 
    width: 70%;


    
 
    


}

main{

background-color: rgba(162, 199, 230, 0.377);
display: flex;
justify-content: space-between;
padding: 10px;
padding-left:0px ;

margin-top: 10px;

}

#botoex{
    display: flex;
    justify-content: space-between;
    float: right;
    margin: 0 auto;

}

#calendario{
    width: 30%;
        height: 800px;
    margin: 0 auto;
    vertical-align: bottom;
    background-color: rgba(98, 138, 224, 0.164);
}

#calend{
    margin: 0 auto;
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    width: 90%;
    height:300px;
    
}




.imgdesq{
    width: 100%;

    margin: 0 auto;
    vertical-align: bottom;
    padding: 0px;



}

#event {


margin:0px;
padding: 0px;

  display: flex;
  justify-content: space-between;

}


#pu{
    display: flex;
    margin:0px;
    padding: 0px;
    justify-content: space-between;

  
}

.ok{

    font-size: 40px;
 display: inline-block;
font-weight: lighter;
}


#conteudo p{

 font-size: 20px;
 color: rgb(31, 52, 83);
}

#conteudo{

    height:150px;
    margin-top: 35px;
   
}
#desen{

    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

}

#desen p{

font-weight:bold ;
font-size: 20px;


}
#cont {

    text-align: center;
    padding: 50px;

}

 


#d{
    
    margin: 0 auto;
    display: inline-block;

}

#d > p{

    margin:0 auto;
  align-content: center;
  text-align: center;
    
}